{
    "extends": [
        "react-app",
        "airbnb"
    ],
    "rules": {
        "react/prop-types": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0
    }
}